@model ShopItemViewModel
<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="assets/img/products/@Model.Product.MainImagePath" width="100%" id="MainImg" alt="">


        <div class="small-img-group">
            @foreach (var productImage in Model.Product.ProductImages)
            {

                <div class="small-img-col">
                    <img src="assets/img/products/@productImage.ImagePath" width="100%" class="small-img" alt="">
                </div>
            }

        </div>

    </div>
    <div class="single-pro-details">
        <h6>@Model.Product.ProductCategory.Title</h6>
        <h4>@Model.Product.Name</h4>
        <h2>$@Model.Product.Price</h2>
        <form asp-controller="basket" asp-action="addbasket" asp-route-id="@Model.Product.Id">

        <select  asp-for="SizeId" asp-items="@(new SelectList(Model.Sizes ,
            nameof(SizeViewModel.Id),  nameof(SizeViewModel.Tittle)))" class="form-select get-categories" name="sizeId">
        </select>
        <input type="number" value="1">
        <button type="submit" class="normal">Add To Cart</button>
        </form>

        <h4>Product Details</h4>
        <span>
            @Model.Product.Description
        </span>
    </div>


</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
        @foreach (var product in collection)
        {
            <div class="pro">
                    <img src="~/assets/img/products/@product.MainImagePath" alt="">
                    <div class="des">
                        <span>@product.ProductCategory.Title</span>
                       <a asp-controller="shop" asp-action="shopitem" asp-route-id="@product.Id"> <h5>@product.Name</h5></a>
                        
                        <div class="star">
                            @for (var i = 0; i < @product.Rate; i++)
                            {
                                
                            <i class="fas fa-star"></i>
                            }
                      
                        </div>
                        <h4>$@product.Price</h4>
                    </div>
                    <a asp-controller="basket" asp-action="addbasket" asp-route-id="@product.Id"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
        }
        <div class="pro">
            <img src="assets/img/products/n1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>


       
    </div>

</section>

